target/
**/target/

Cargo.lock

.gradle/
gradle.lockfile

adapters/dart/.dart_tool/
adapters/dart/pubspec.lock
examples/uniffi-xforge/dart/.dart_tool/
examples/uniffi-xforge/dist/
.DS_Store


adapters/python/src/__pycache__
adapters/python/tests/__pycache__


